<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="greg">
        <a href="/">Home</a> | <a href="projects">Projects</a> | <a href="contact">Contact</a>
    </div>
    <h1 class="head">Contact Page</h1>
    <div class="ContactForm" style="margin:0px auto;">
            <form action="method" method="post">
        <div >
            <label for="name">Name</label>
            <input type="text" name="name" />
            <label for="email ">Email</label>
            <input type="text" name="email" />
        </div>
        <div>
            <label for="message">message</label>
        <input type="textbox" name="NumberField" />
        </div>
    <button type="submit">Submit</button>
    </form>
    </div>
</body>

</html>