<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="~/css/style.css" />

</head>

<body>
    <div class="greg">
        <a href="/">Home</a> | <a href="projects">Projects</a> | <a href="contact">Contact</a>
    </div>
    <h1 class="head">About Me</h1>
    <div class="info">
        <div>
            <img style="width:15vw" src="~/me.png" alt="">
            <h3>Mitchell Golden</h3>
            <h4>PorfoiloII Assignment</h4>
        </div>
        <div style="width:25vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fugiat sit minima non
                impedit sed
                exercitationem praesentium optio distinctio tempore rerum quam temporibus explicabo, eum aliquam
                inventore.
                Itaque, officiis tenetur.</p>
        </div>
    </div>

</body>

</html>