<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="greg">
        <a href="/">Home</a> | <a href="projects">Projects</a> | <a href="contact">Contact</a>
    </div>
    <h1 class="head">Here are some projects of mine!</h1>
    <div id="projectBox" style="height:280px;width:450px;overflow:auto;border:8px;align-content:center;margin:0px auto;">
        <div class="project" style="display: flex">
            <img style="width:80px;height:80px;" src="~/room_42.png" alt="Room 42 Logo">
            <div>
                <p>Room 42</p>
            <p style="width:20vw">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem eum impedit quasi
                praesentium? Autem provident maiores incidunt cum cumque quibusda, hicc placeat ad possimus nisi
                consectetur! Sint nemo aut neque!</p>
                </div>
        </div>
        <div class="project" style="display: flex">
            <img style="width:80px;height:80px;" src="~/swing.png" alt="Room 42 Logo">
            <div>
                <p>Swing</p>
            <p style="width:20vw">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem eum impedit quasi
                praesentium? Autem provident maiores incidunt cum cumque quibusda, hicc placeat ad possimus nisi
                consectetur! Sint nemo aut neque!</p>
                </div>
        </div>
        <div class="project" style="display: flex">
            <img style="width:80px;height:80px;" src="~/proj3.png" alt="Room 42 Logo">
            <div>
                <p>Third Project</p>
            <p style="width:20vw">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem eum impedit quasi
                praesentium? Autem provident maiores incidunt cum cumque quibusda, hicc placeat ad possimus nisi
                consectetur! Sint nemo aut neque!</p>
                </div>
        </div>

    </div>
</body>

</html>